* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header, .App-footer {
  background-color: mediumaquamarine;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: black;
  padding: 20px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie {
  padding: 20px;
  max-width: 25%;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search input[type="text"]{
  width: 40%;
  min-width: 200px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}